{% extends "admins/base.html" %}
{% block content %}
<div class="edit-card">
    <h2>Edit Celebrity Event</h2>
    <p class="edit-subtitle">Edit the events information</p>
    <form method="POST" enctype="multipart/form-data">

        {% csrf_token %}

        <div class="photo-section">
            <div class="current-photo">
                {% if celebrity.photo %}
                    <img id="photo-preview" src="{{ celebrity.photo.url }}" alt="celebrity photo" width="80">
                {% endif %}
                    <p>Current photo</p>
            </div>

            <div class="change-photo">
                <label>Change photo</label>
                <input type="file" 
                       name="photo"
                       id="photo"
                       accept="image/*"
                       onchange="previewPhoto(event)">
            </div>
        </div>

        <div class="edit-grid">
            <div class="form-group">
                <label>Name</label>
                <input type="text" name="name" value="{{ celebrity.name}}">
                <br>
            </div>

            <div class="form-group">
                <label>Free Text</label>
                <textarea name="free_text">{{ celebrity.free_text|default_if_none:""}}</textarea>
                <br>
            </div>

            <div class="form-group">
                <label>Venue</label>
                <input type="text" name="venue" value="{{ celebrity.venue}}">
                <br>
            </div>

            <div class="form-group">
                <label>Date</label>
                <input type="date" name="date" value="{{ celebrity.date|date:'Y-m-d' }}">
                <br>
            </div>

            <div class="form-group">
                <label>Time</label>
                <input type="time" name="time" value="{{ celebrity.time|time:'H:i'}}">
                <br>
            </div>
        </div>

        <div class="edit-actions">
            <div>
                <button type="submit" class="update-button">Update</button>
            </div>
            <div>
                <a href="{% url 'celebrities' %}"><button class="cancel-button">Cancel</button></a>
            </div>
        </div>
    </form>
</div>

<script>
    function previewPhoto(event) {
        const file = event.target.files[0];

        if (file) {
            const preview = document.getElementById("photo-preview");

            preview.src = URL.createObjectURL(file);
        }
    }
</script>
{% endblock %}